asgiref==3.2.3
Django==2.2.11
django-appconf==1.0.3
django-classy-tags==1.0.0
django-cms==3.7.1
django-filer==1.7.0
django-formtools==2.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==2.1.2
django-sekizai==1.1.0
django-staticfiles==1.2.1
django-staticfiles-bootstrap==3.0.3
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-background-media==1.0.0
easy-thumbnails==2.7
Pillow==7.0.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
Unidecode==1.1.1
