
{% extends 'base_layout.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block content%}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock %}
</head>

<body>
{% block body %}
<div id="base" >

    <h1>OUR VISION</h1>
 We are a non-profit charitable fund with a single goal — to help the world. Our main priority is to provide a safe future for the generations to come.
    Today the humanity faces a range of challenges which threatens the very existence of our kind.
    How can we build a brighter future, when the present is so dark and terrifying? Developed countries
    choose not to pay attention to the problems of the “third world”, but every day these problems
    get more serious.

    One of our founding philosophies was to bridge the trust gap between donors and the nonprofits that are doing exemplary work in places where there is an actual need and changing the lives of people. And since the year 2000, we have actively worked to meet this gap.
    One of our core offerings to our donors is trust, we take this very seriously. Our framework is designed to bring you trust, which is why we verify and validate all the legal requirements that a nonprofits needs to follow.
    We are the only online giving platform in the country that has a robust and rigorous due-diligence process that is comprehensive in all parameters.
    We do this so that you can give with confidence.

    <h1>WHY US?</h1>
    One of our founding philosophies was to bridge the trust gap between donors and the nonprofits that are doing exemplary work in places where there is an actual need and changing the lives of people. And since the year 2000, we have actively worked to meet this gap.
    One of our core offerings to our donors is trust, we take this very seriously. Our framework is designed in such a way where
    you can get different categories of charity placed in your area which brings you trust.We do verify and validate all the legal requirements that a nonprofits needs to follow.
    We are the only online giving platform in the country that has a robust and rigorous due-diligence process that is comprehensive in all parameters.
    We do this so that you can give with confidence.
    <br><br><br>
    <div id="base1" align="center">
“The idea of ShareHope was born very simply to bridge the gap between two sets of people - people who want to give, who want to try and make a difference along with those who are doing
phenomenal work but don’t know how to reach out to the people who want to support them.”
</div>
    <br><br>
    The consequences of poverty are manifold and it impacts families through
    generations. An intervention at the right time, like educating one generation
    or providing livelihood to increase income can help families break the cycle of
    generational poverty. India is population rich. Our people are our resources and if
    each one of us commits to giving regularly, we will be strong enough to solve our problems.
    We could even be audacious enough to say that we as a community may not need any aid if we
    make giving a way of life.

</div>

</body>
{% endblock%}
</html>

